@model IEnumerable<NQMasp.Models.NQMSong>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("them moi", "NQMCreate")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nqmid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nqmTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nqmAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nqmArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nqmYaerRelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nqmid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nqmTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nqmAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nqmArtist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nqmYaerRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
